{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style>.header{position: fixed;background-color: rgba(0, 0, 0, 0.4);}</style>
<div class="intro">
    <div class="container">
        <div class="intro__title">
            <img src="{% static 'main/img/intro__title.png' %}" alt="" class="intro__title__image">
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="most__viewed">
            <ul class="most__viewed__posts">
                <li class="most__viewed__">
                    <figure class="mvp">
                        <a class="mvpurl" href="#">
                            <img class="mvpimage" src="{% static 'main/img/348x400.png' %}" alt="">
                        </a>
                        <figcaption class="mvptitle">
                            <h6 class="mvpheading">Lorem ipsum dolor sit.</h6>
                            <div class="mvptext">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere perspiciatis minima delectus dignissimos sint.
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="most__viewed__">
                    <figure class="mvp">
                        <a class="mvpurl" href="">
                            <img class="mvpimage" src="{% static 'main/img/348x400.png' %}" alt="">
                        </a>
                        <figcaption class="mvptitle">
                            <h6 class="mvpheading">Lorem ipsum dolor sit.</h6>
                            <div class="mvptext">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere perspiciatis minima delectus dignissimos sint.
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="most__viewed__">
                    <figure class="mvp">
                        <a class="mvpurl" href="">
                            <img class="mvpimage" src="{% static 'main/img/348x400.png' %}" alt="">
                        </a>
                        <figcaption class="mvptitle">
                            <h6 class="mvpheading">Lorem ipsum dolor sit.</h6>
                            <div class="mvptext">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere perspiciatis minima delectus dignissimos sint.
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4727648452720993" crossorigin="anonymous"></script>
        <!-- horsizontal -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4727648452720993"
            data-ad-slot="7076373499"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <ul class="users">
            <style>.users{font-size: 25px;}</style>
            {% for user in users %}
            <li><a href="{{ user.get_absolute_url }}">{{ user.nickname|safe }}</a></li>
            <li><a href="{{ user.get_absolute_url }}"></a>{{ user.email|urlize }}</a></li>
            <li><a href="{{ user.get_absolute_url }}"></a>{{ user.password }}</a></li>
            <hr><br>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}